.env 
__pycache__/
*.pyc
instance/
*.sqlite3

#Environmental Variables
.venv
.env
backend/.env
frontend/.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
